<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PIMdesktop.Properties.Settings.DBpimConnectionString"
            connectionString="Data Source=DEB;Initial Catalog=DBpim;Persist Security Info=True;User ID=sa;Password=pim2020"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>